.jTitle{
    background-color: aqua;
     
}
.education{
    background-color: aqua;

}
.licencepic{
    background-color: aqua;

}
.selfie{
    background-color: aqua;

}
.city{
    background-color: aqua;

}