@font-face {
  font-family: Mina;
  src: url("../assets/Mina/Mina-Regular.ttf");
}

.header-container {
  height: 62.28px;
  width: 390px;
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #d9720b;
}

.logo {
  font-size: 22px;
  margin-left: 1em;
}

.hamburger {
  float: right;
  margin-right: 1em;
  filter: invert(81%) sepia(38%) saturate(3983%) hue-rotate(329deg)
    brightness(105%) contrast(94%);
}
