.landingpage-container {
  display: grid;
  grid-template-columns: 26px, 1fr, 20px, 1fr, 27px;
  grid-template-rows: 39px, 241px;
}

.spacer {
  height: 26px;
  grid-row: 1;
}

.timestatus {
  grid-row: 2;
  grid-column: 2;
}

.sessions {
  grid-row: 2;
  grid-column: 4;
}

.notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.conversations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
