.loginBox{
    justify-content: center;
}
.username{
    margin: 0 auto;
    border-radius: 15px;
    width: 275px;
    height: 45px;
}
.password{
    margin: 0 auto;
    border-radius: 15px;
    width: 275px;
    height: 45px;
}