.navbar {
  /* border: 1px solid red; */
  position: fixed;
  bottom: 0;
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: #151515;
}

.nav-button {
  width: 55px;
  height: 55px;
  font-size: 10px;
  background-color: #151515;
  border: none;
}

.filter-orange {
  filter: invert(81%) sepia(38%) saturate(3983%) hue-rotate(329deg)
    brightness(105%) contrast(94%);
}
