h4 {
  margin: 0;
  font-size: 1rem;
}

.recentnotif-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  border-radius: 10px;
  background-color: #ffe6c9;
  width: 90%;
  height: 100%;
}

.notif-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1em 1em;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: black;
  height: 2em;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 1em;
}

.name-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttons {
  width: 10em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buttons button {
  border-radius: 15px;
  width: 5em;
  height: 3em;
  background-color: #f69e45;
  font-weight: bold;
  border: none;
}

.buttons a {
  margin-right: 1em;
}
