
@font-face {
    font-family: Mina;
    src: url('../assets/Mina/Mina-Regular.ttf');
}
@font-face {
    font-family: Mina-Bold;
    src: url('../assets/Mina/Mina-Bold.ttf');
}

input {
    text-align: left;
    padding-left:20px;
  }
.title{
    font-family: Mina;
    margin-bottom: 60px;

}
.wTitle{
    font-size: 32px;
    margin-bottom: 5px;
    margin-top:80px;
    padding: 0px;
    text-shadow: 0px 4px 4px rgba(0,0,0, 0.25);
}
.aTitle{
    font-family: Mina-Bold;
    font-size: 64px;
    font-weight:bold;
    margin-top:-30px;
    padding: 0;

}
.fName{
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 15px;
    width: 275px;
    height: 45px;
    margin-bottom: 17px;
    background-color: #FFE6C9;
    box-sizing:border-box;
}
.lName{
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 15px;
    width: 275px;
    margin-bottom: 17px;
    margin-top: 17px;
    height: 45px;
    background-color: #FFE6C9;
    box-sizing:border-box;
}
.email{
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 15px;
    width: 275px;
    height: 45px;
    margin-bottom: 17px;
    margin-top: 17px;
    background-color: #FFE6C9;
    box-sizing:border-box;
}
.regPass{
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 15px;
    width: 275px;
    height: 45px;
    margin-bottom: 17px;
    margin-top: 17px;
    background-color: #FFE6C9;
    box-sizing:border-box;
}
.confPass{
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 15px;
    width: 275px;
    height: 45px;
    margin-bottom: 17px;
    background-color: #FFE6C9;

    margin-top: 17px;
    box-sizing:border-box;
}
.badConfPass{
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 15px;
    width: 275px;
    height: 45px;
    margin-bottom: 17px;
    background-color: #ff4949;
    margin-top: 17px;
    box-sizing:border-box;
}
.nextButton{
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 15px;
    width: 275px;
    margin-top: 17px;
    height: 45px;
    background-color: #F69E45;
    align-items: center;    
    display: flex;
}
.nextText{
    margin: 0 auto;
    text-align: center;
}